body {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Navbar.js */
#navbar {
    background-color: white;
    font-size: 25px;
    font-weight: 500;
    height:  60px;
    letter-spacing: 8px;
    text-align: center;
    text-decoration: none;
  
}

#navbar-text {
    /* border: 3px solid orange; */
    border-radius: 15px ;
    font-display: center;
    font-style:normal;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
    text-align: center;
;
    /* word-spacing: 25px;
    - how to makae the border box thinner/smaller*/
}

/* Error Page */
.error {
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
}

#error-card {
    height: 50%;
    width: 50%;
}
/* can't make this smaller or center the image */

/* Index For Homepage.js  */
.indexforhomepage-container {
    color: orange;
    font-size: 40px;
    text-align: left;
    /* want topush this container to the left with a little margin */
}

.indexforhomepage-header {
    text-align: center;
}

.indexforhomepage-logo {
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
    margin-left: 10px;
    /* want to push this section the the left end of the text block */

}

.indexforhomepage-main {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.indexforhomepage-one {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 50;
    letter-spacing: 2px;
    margin-left: 4px;
}

.indexforhomepage-two {
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 50;
    letter-spacing: 2px;
    margin-left: 4px;
}

/* Login.js */
.login {
    color: orange;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
    margin-top: 90px;
}

#login-disclaimer  {
    color: orange;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-align: center;
}

#login-form {
    align-items: center;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    /* i'd love to make this more symetrical.  they don't match
    not sure if i like this font but ehh*/
}

/* Routines.js */
.routines {
    columns: white;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

#routines-title {
    color: orange;
    font-size: 23px;
    text-align: center;

}
#routines-goal {
    font-size: 18px;
    text-align: center;

}

#routines-creator {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;

}

#routines-activities {
    text-align: center;
    /* margin-top: 22px;
    top: 5px; */
    /* i want to spread this out somehow */
}

#routines-link {
    text-align: center;
    /* i can't get this link centered */
}

#routines-error {
    font-size: 40px;
    text-align: center;
    /* : no routines avaible to display */
}


/* Profile.js */

#profile {
    color: orange;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;


}

#profile-items {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-size: 23px;
    text-align: center;
}
#edit-routine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: orange;
    color: black;
}
#activities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid orange;
    padding: 10px;
}
#register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: orange;
    color: black;
    text-align: center;
}


/* To Do */
    /* all the hyperlinks color don't match, figure this out */
    /* fix the navbar */